{% extends "todo_app/base.html" %}
{% load static %}

{% block title %}
   How It Works?
{% endblock title %}

{% block page_body %}
      <!-- choose section start -->
      <div class="choose_section layout_padding">
         <div class="container">
            <h1 class="services_taital">How It<span style="color: #0c426e"> Works?</span></h1>
            <div class="choose_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-4">
                     <div class="choose_box">
                        <div class="number_1">
                           <h4 class="number_text">01</h4>
                           <h4 class="trusted_text">Enter Your Todo's</h4>
                        </div>
                        <p class="dummy_text"> Enter your daily tasks with little descriptions for you and add also estimated durations. </p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="choose_box">
                        <div class="number_1">
                           <h4 class="number_text">02</h4>
                           <h4 class="trusted_text">Get Your Personal Day Plan</h4>
                        </div>
                        <p class="dummy_text"> Planner comes up with a daily schedule that is specially recommended to you. </p>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="choose_box">
                        <div class="number_1">
                           <h4 class="number_text">03</h4>
                           <h4 class="trusted_text"> See Your Graphs </h4>
                        </div>
                        <p class="dummy_text"> Daily and weekly graphs of your process helps you a lot in increasing your productivity. </p>
                     </div>
                     <br><br>
                  </div>
               </div>
            </div>
         </div>
      </div>


<br>
<h1 class="services_taital">Sample<span style="color: #0c426e"> Usage</span></h1>
<br><br><br>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border-dark">
      <img src="{% static 'todo_app_static/images/add-category.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-text text-primary">You can classify your todos by creating your own categories. Always Up learns which category of todos is more important to you in long-term use and shapes your suggested daily schedule accordingly.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-dark">
      <img src="{% static 'todo_app_static/images/add-todos.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-primary">Todos have various features like length, date, priority, and colourful descriptions.</p>
      </div>
    </div>
  </div>
</div>
</div>

<br>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border-dark">
      <img src="{% static 'todo_app_static/images/todos.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
          <p class="card-text text-primary">You can check and cross over finished todos and star the important ones.</p>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border-dark" >
      <img src="{% static 'todo_app_static/images/graphs2.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-primary">You can view your daily and weekly graphs.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-dark">
      <img src="{% static 'todo_app_static/images/schedules2.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-primary">Always Up offers different daily schedules you can choose according to your preference. It also makes a suggested schedule looking at the priority and duration of your todos. <br><br>It pays attention to round the start times to multiples of ten so that you have more motivation to start. </p>
      </div>
    </div>
  </div>
</div>
</div>
<br>
      <!-- choose section end -->
{% endblock page_body %}