{% extends "todo_app/base.html" %}
{% load static %}

{% block title %}
Sign In
{% endblock title %}

{% block page_body %}
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_taital">Sign In</h1>
        <div class="contact_section_2 layout_padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="mail_section_1">
                        <input class="mail_text_1" name="text" placeholder="Username" type="text">
                        <input class="mail_text_1" name="text" placeholder="Email" type="text">
                        <input class="mail_text_1" name="text" placeholder="Password" type="text">
                        <input class="mail_text_1" name="text" placeholder="Password" type="text">
                        <textarea class="massage-bt" id="comment" name="Massage" placeholder="Massage"
                                  rows="5"></textarea>
                        <div class="send_bt"><a href="#">SEND</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
{% endblock page_body %}