{% extends "todo_logged_in_app/base.html" %}
{% load static %}

{% block title %}
My Categories
{% endblock title %}

{% block page_body %}

<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <br>
    <button class="btn btn-danger" id="add-button">Add Category</button>
    <br><br>
</form>
</div>

<div class="container">
<table class="table category-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Catagory</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="display-data">
  {% for catagory in catagories %}
    <tr  id="row-{{ catagory.id }}">
      <th scope="row" ></th>
      <td>{{ catagory.name }}</td>
      <td><button class="btn btn-danger delete-button" value={{ catagory.id }}>Delete</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$('#add-button').click(function(e){
    e.preventDefault();
        const name = $('#id_name').val()
        $.ajax({
            type: 'POST',
            url : '/user/mycatagories/',
            data:{
                name:name,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
                console.log('AAAA', response)
                $("#display-data").append('<tr id="row-' + response.added_catagory + '"><th scope="row" ></th><td>'+ name + '</td><td><button class="btn btn-danger delete-button" value="' + response.added_catagory + '">Delete</button></td></tr>');
            },
            error:  function (res){
                console.log(res)
            }
        });
});

$('.category-table').on('click', '.delete-button', function(e){
    e.preventDefault();
        const deleted_id = $(this).val()
        console.log("aaaaa ", deleted_id)
    var ask = confirm('Are you sure you want to delete this category?');
    if(ask) {
        $.ajax({
            type: 'POST',
            url: '/user/mycatagories/delete',
            data: {
                deleted_id: deleted_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (response) {
                console.log('deleting', response.data)
                $('#row-' + deleted_id).remove();

            },
            error: function (res) {
                console.log('errorrr')
                console.log(res)
            }
        });
    }
});

</script>

{% endblock page_body %}