{% extends "todo_logged_in_app/base.html" %}
{% load static %}

{% block title %}
My Weekly Graph
{% endblock title %}

{% block page_body %}

<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<br><br>
<div align="center">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</div>
<br>


<script>
    xValues = {{ category_names|safe}}
    yValues = {{ category_success_list|safe }}

    barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9",
        "purple", "orange", "#1e7145", "pink", "blue", "red",
        "green", "brown", "aquamarine", "purple"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: "My Completion Rates by Category"
            },
        }
    });
</script>

{% endblock page_body %}