{% extends "todo_logged_in_app/base.html" %}
{% load static %}

{% block title %}
User Graphs
{% endblock title %}

{% block page_body %}
{% if finished or unfinished %}
<br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<br><br>
<div align="center">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
</div>
<br><br>

<script>
    xValues = ["Finished", "Unfinished"];
    yValues = ["{{ finished }}", "{{ unfinished }}"];
    barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Today's Complation Chart"
            }
        }
    });
</script>

{% else %}
.<br><br>
<div class="container">Nothing to see here yet!</div>
<br><br>
{% endif %}
{% endblock page_body %}