{% extends "todo_logged_in_app/base.html" %}
{% load static %}

{% block title %}
User Home
{% endblock title %}

{% block page_body %}
.<br><br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-warning"> Yesterday </li>
        {% for todo in one_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not one_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>

<br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-success">{{ two_days_ago }}</li>
        {% for todo in two_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not two_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>

<br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-warning">{{ three_days_ago }}</li>
        {% for todo in three_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not three_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>

<br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-success">{{ four_days_ago }}</li>
        {% for todo in four_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not four_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>

<br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-warning">{{ five_days_ago }}</li>
        {% for todo in five_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not five_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>

<br>
<div class="container">
    <ul class="list-group">
        <li aria-current="true" class="list-group-item list-group-item-success">{{ six_days_ago }}</li>
        {% for todo in six_before_todos %}
        {% if todo.is_finished %}
        <li class="list-group-item">(+) {{todo.title}}</li>
        {% else %}
        <li class="list-group-item">(-) {{todo.title}}</li>
        {% endif %}
        {% endfor %}
        {% if not six_before_todos %}
        <li class="list-group-item">Nothing to see...</li>
        {% endif %}
    </ul>
</div>
<br>

{% endblock page_body %}